@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%); 
    font: 18px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
margin: 200px 5%;
background-color: hsl(216, 50%, 16%);
display: flex;
flex-direction: column;
width: 350px;
border-radius: 20px;
padding: 30px;
position: relative;
}

.thumbnail{
    position: relative;
  
}

.thumbnail img{
    width:100% ;
    border-radius: 10px;    
}

.overlay{
    position: absolute;
    width: 100%;
    height: calc(100% - 4px);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}   

.color{
    width: 100%;
    height: 100%;
    background-color: cyan;
    border-radius: 10px;
    opacity: 0.5;
}

.overlay svg{
    position: absolute;
}

.overlay:hover{
    opacity: 100;
    cursor: pointer;
}

.card-info{
    margin-top: 20px;
}

.desc{
    width: 100%;
    color: white;
}


.desc p{
    margin-top: 20px;
    font-weight: 100;
    font-size: 1.3rem;
    color: hsl(215, 51%, 70%);
}

.transaction-info{
   display: flex;
   width: 100%;
   justify-content:space-between ;
   margin: 30px 0;
    
} 

.price{
    display: flex;
    align-items: center;
    color: cyan
    
}

.price svg{
    margin-right: 10px;
    
}

.time{
    display: flex;
    align-items: center;
    color: #8bacd9;
}

.time svg{
    margin-right: 10px;
}

.card hr{
    color: hsl(215, 32%, 27%);
}

.credits{
    margin-top: 20px ;
    display: flex;
    align-items: center;
}

.credits img{
    width: 10%;
    border-radius: 50px;
    border: 1px solid white;
}

.credits p{
    margin-left: 20px;
    color: hsl(215, 51%, 70%);
}

.credits span{
    color: white;
}

.change-color:hover{
    color: cyan;
    cursor: pointer;
}

.attribution{
    color: white;
}
